@model Lab3.Models.Task

@{
    ViewData["Title"] = "Creare sarcină";
}

<h2>Creare sarcină nouă</h2>

<form asp-action="Store" method="post">
    <div>
        <label>Titlu:</label>
        <input type = "text" asp-for="@Model.title" placeholder = "Titlu"/>
    </div>

    <div>
        <label for="description">Descriere:</label>
        <input type="text" asp-for="@Model.description" placeholder="Descriere" />
    </div>

    <div>
        <label for="category">Categorie:</label>
        <select asp-for="category.id">
            <option value="">Selectați o categorie</option>
            @foreach (var category in ViewBag.categories)
            {
                <option value="@category.id">@category.name</option>
            }
        </select>
    </div>
    <div>
        <label>Etichete:</label>
        @foreach (var tag in ViewBag.tags)
        {
            <div>
                <input type="checkbox" name="tagIds" value="@tag.id" id="@tag.id" />
                <label for="@tag.id">@tag.name</label>
            </div>
        }
    </div>

    <button type="submit">Salvează</button>
</form>